<h1><%= @theme.title %></h1>

<form action="/themes/<%= @theme.id %>/participations/new" method="get">
  <input type="submit" value="Invite a Friend">
</form>

<form action="/themes/<%= @theme.id %>/expenses/new" method="get">
  <input type="submit" value="Add New Expense">
</form>

<table>
  <caption>Theme Overall Stats</caption>
  <tr>
    <th>User</th>
    <th>Total Paid</th>
    <th>Average Per User</th>
    <th>Debit / Credit</th>
  </tr>
  <% @theme.participations.each do |participation| %>
    <tr>
      <td><%= participation.user.first_name %> <%= participation.user.surname %></td>
      <td><%= participation.user.expenses.where(theme_id: @theme.id).sum(:amount) %></td>
      <td><%= @average_amount.round(2) %></td>
      <td><%= (participation.user.expenses.where(theme_id: @theme.id).sum(:amount) - @average_amount).round(2) %></td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>User</th>
    <th>Amount</th>
    <th>Description</th>
  </tr>
  <% @theme.expenses.each do |expense| %>
    <tr>
      <td><%= expense.user.first_name %> <%= expense.user.surname %></td>
      <td><%= expense.amount.to_s %></td>
      <td><%= expense.description %></td>
    </tr>
  <% end %>
<table>
