<h1><%= @theme.title %></h1>

<form action="/themes/<%= @theme.id %>/participations/new" method="get">
  <input type="submit" value="Invite a Friend">
</form>

<h2><%= @theme.users.length %> Participants:</h2>

<% @theme.users.each do |user| %>
  <ul>
    <li><%= user.first_name + " " + user.surname  %></li>
  </ul>
<% end %>

<form action="/themes/<%= @theme.id %>/expenses/new" method="get">
  <input type="submit" value="Add New Expense">
</form>

<table>
  <tr>
    <th>User</th>
    <th>Amount</th>
    <th>Description</th>
  </tr>
  <% @theme.expenses.each do |expense| %>
    <tr>
      <td><%= expense.user.first_name %> <%= expense.user.surname %></td>
      <td>£<%= expense.amount.to_s %></td>
      <td><%= expense.description %></td>
    </tr>
  <% end %>
<table>
