<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Themes</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <h2><%= @theme.title %></h2>
  </header>

  <section>
    <table>
      <tr>
        <th>User</th>
        <th>Total Payments</th>
        <th>Credit</th>
        <th>Debit</th>
      </tr>
      <% @theme.participations.each do |participation| %>
        <tr>
          <td><%= participation.user.first_name %> <%= participation.user.surname %></td>
          <td><%= sprintf("%.2f", participation.user.expenses.where(theme_id: @theme.id).sum(:amount)) %></td>
          <td class="credit">
            <% if participation.user.expenses.where(theme_id: @theme.id).sum(:amount) - @average_amount > 0 %>
              <%= sprintf("%.2f", participation.user.expenses.where(theme_id: @theme.id).sum(:amount) - @average_amount) %>
            <% end %>
          </td>
          <td class="debit">
            <% if participation.user.expenses.where(theme_id: @theme.id).sum(:amount) - @average_amount < 0 %>
              <%= sprintf("%.2f", participation.user.expenses.where(theme_id: @theme.id).sum(:amount) - @average_amount) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </section>

  <section id="buttons-container">
    <form action="/themes/<%= @theme.id %>/participations/new" method="get">
      <input type="submit" value="Invite a Friend" id="invite-friend-btn">
    </form>

    <form action="/themes/<%= @theme.id %>/expenses" method="get">
      <input type="submit" value="View Expenses" id="view-expenses-btn">
    </form>
  </section>
</body>
</html>
